{% extends "base.html" %}

{% block content %}
<div class="newpost-container">
  <h2>Edit Post</h2>

  <form method="post">
    <label>
      <div>Subject</div>
      <input type="text" name="subject" value="{{subject}}" class="new-post-subject">
    </label>
    <br>
    <label>
      <div>Post</div>
      <textarea name="content" class="new-post-content">{{content}}</textarea>
    </label>

    <div class="error">{{error}}</div>

    <input type="submit">
    <a href="/blog" value="Cancel">
  </form>
</div>
{% endblock %}
